.btp {
  border: 1px solid darkgreen;
  border-radius: 8px;
  z-index: 70;
  overflow: visible;
}

.vertical-line {
  height: 50px;
  width: 0px;
  left: 50%;
  position: relative;
  border-left: 1px solid rgb(228, 228, 238);
  z-index: -999;
}

.line-linkage {
  width: calc(50% + 1.5rem);
  height: 0px;
  background-color: green;
  position: relative;
  top: 0%;
  right: -50%;
  z-index: -1000;
  margin-top: -16px;
  //  border-top: 1px solid green;
}

.activelink {
height: 1px
}

 .animated {
        -webkit-animation-duration: 1.2s;
        animation-duration: 1.2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

 @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .fadeIn {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
    }
