@import "../components/variables";
@import "mixins";
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);

.topbar {
  width: 100%;
  height: $navbar-height;
  display: flex;
  overflow: hidden;

  & .top-logo {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: $navbar-height;
    height: 100%;
    background-color: $primary-color;
    padding: 10px;
    //    border-right: 1px solid $border-color;

    & .logo-container {
      border-radius: 50%;
      background: #cacaca;
      width: 100%;
      height: 100%;
      margin: auto;
    }
  }

  & .action-menu {
    width: calc(100% - #{$navbar-height});
    height: 100%;
    background-color: white;
    color: #0000C0;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-bottom: 1px solid $border-color;

    & .institute-name {
      color: #002240;
      width: 80%;
      margin: auto;
      font-family: 'Ubuntu', "Avenir", 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.7);
    }

    & .name-menu {
      width: 10%;
      margin: auto;
      margin-right: 5px;
//      border-left: 2px solid lightgray;
      border-right: 2px solid lightgray;

        font-family: 'Ubuntu', "Avenir", 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 300;
        color: rgba(0, 0, 0, 0.7);
      display: flex;
      padding: 5px;


      i {
        margin-left: -20px;
        margin-right: 15px;
        padding: 0;
      }
    }

    & .signoff {
      width: 10%;
      margin: auto;
      padding: 8px;

      i {
        font-size: 2.5rem;
        font-weight: 200;
        color: rgba(0, 0, 0, 0.4);

      }
    }
  }
}
