{% extends "layout.html" %}

{% macro add_standard(num) %}

    <br>
    <label for="standard{{ num }}">Enter number of sections for class {{ num }}</label>

    <input placeholder="sections" id="standard{{ num }}" type="number" class="validate"
           name="standard{{ num }}">

    <br>


{% endmacro %}


{% macro add_row(nam1, nam2) %}

    <div class="row">
        <div class="col s12 m6">

            {{ add_standard(nam1) }}

        </div>

        <div class="col s12 m6">

            {{ add_standard(nam1) }}
        </div>
    </div>

{% endmacro %}


{% block content %}
    <style>
        th {
            display: none;
        }
    </style>


    <div class="section">


        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m3">
                <div class="icon-block center">
                    <br>

                    <div class="chip green lighten-3">
                        <div class="img2 center">1</div>
                        Institute Setup
                    </div>
                    <div class="line-linkage"></div>


                    <div class="vertical-line"></div>
                    <div class="chip green lighten-3">
                        <div class="img2 center">2</div>
                        School Setup
                    </div>

                    <div class="line-linkage"></div>


                    <div class="vertical-line"></div>
                    <div class="chip amber lighten-3">
                        <div class="img2 center">3</div>
                        Class Setup
                    </div>
                    <div class="line-linkage active"></div>

                </div>
            </div>



        <div class="col s12 m6 btp">
            <div class="icon-block">
                <div class="icon-container">

                    <div class="center">
                        <div class="center">
                            <button class="btn-flat white black-text disabled" name="action"
                                    style="margin-top: -22px">Class Information
                            </button>
                        </div>
                        <br>

                        <form action="/classes" method="post">

                            {% for h in form.Standrds.entries %}
                                <div class="row">

                                    {% for t in h %}

                                        {% if t.label.text =='School' %}
                                            {{ t(type='hidden',value=scid) }}
                                        {% elif t.label.text =='Standard' %}
                                            <div class="col s12 m6">

                                                {{ t(placeholder='Enter class Name/Number here') }}
                                            </div>
                                        {% elif t.label.text=='Sections' %}
                                            <div class="col s12 m6">

                                                {{ t(type='number', placeholder='Enter Number of sections') }}
                                            </div>

                                        {% else %}

                                            {{ t }}

                                        {% endif %}

                                    {% endfor %}
                                </div>
                            {% endfor %}

                            <div class="row center">
                                <button class="btn white black-text btp"
                                        type="submit" style="margin-bottom: -55px"
                                        >Submit
                                    <i class="material-icons right blue-text">send</i>
                                </button>

                            </div>


                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="col s12 m3">
            <div class="icon-block">
                <br>
            </div>
        </div>

    </div>
    </div>

{% endblock %}