<div class="row">
    <div class="col s6 m4">
        <input class="search" placeholder="Search {{ displayname }}"/>
    </div>
    <div class="col s6 m6">

        Sort by :
        <button class="sort btn-flat grey lighten-3 btp" data-sort="student_name">
            Name
        </button>
        <button class="sort btn-flat grey lighten-3 btp" data-sort="email">
            Email
        </button>
        <button class="sort btn-flat grey lighten-3 btp" data-sort="city">
            City
        </button>
    </div>
    <div class="col s6 m2">
        <button class="btn-flat blue white-text">
            <a class="white-text" href={{ url_for('.' + routename ,m='c') }}>
                Create New</a>
        </button>
    </div>
</div>