{% extends "layout.html" %}


{% block content %}

    <div class="section">


        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m3">
                <div class="icon-block center">
                    <br>

                    <div class="chip green lighten-3">
                        <div class="img2 center">1</div>
                        Institute Setup
                    </div>
                    <div class="line-linkage"></div>


                    <div class="vertical-line"></div>
                    <div class="chip amber lighten-3">
                        <div class="img2 center">2</div>
                        School Setup
                    </div>

                    <div class="line-linkage activelink"></div>

                </div>
            </div>


            <div class="col s12 m6">
                <div class="icon-block">
                    <div class="icon-container">

                        <div class="center btp">
                            <div class="center">
                                <button class="btn-flat white black-text disabled" name="action"
                                        style="margin-top: -22px">School Information
                                </button>
                            </div>
                            <br>

                            <form action="{{ url_for('.school', s='t') }}" method="post">
                        <div class="row">

                                {% for h in form %}
                                    {% if h.label.text =='Institute' %}
                                        {{ h(type='hidden',value=request.args.get('iid')) }}

                                    {% elif h.label.text =='User' %}
                                        {{ h(type='hidden',value=g.user.get_id()) }}

                                    {% elif h.label.text == 'School Name' %}
                                        <div class="input-field col s12 m12">

                                            {{ h.label }} {{ h }}

                                        </div>

                                    {% elif h.label.text == 'Street Address' %}
                                        <div class="input-field col s12 m6">
                                            {{ h.label }}
                                            {{ h(class='materialize-textarea') }}

                                        </div>
                                   {% elif not h.widget.input_type == 'hidden' %}
                                            <div class="input-field col s12 m6">
                                                {{ h.label }}
                                                {{ h }}
                                            </div>
                                        {% endif %}
                                {% endfor %}
                            </div>

                                <div class="row center">
                                    <button class="btn white black-text btp"
                                            type="submit" style="margin-bottom: -55px"
                                            >Submit
                                        <i class="material-icons right blue-text">send</i>
                                    </button>
                                </div>


                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="icon-block">
                    <br>
                </div>
            </div>

        </div>
    </div>

{% endblock %}