{% extends "crudtemplate.html" %}
{% from 'macros.html' import renderer %}

{% block uiblock %}
    <br>

    {% include 'uiblock.html' %}

{% endblock %}

{% block subrecord %}
    {% if  mode==2 %}

        <div class="center">
            <div class="fixed-action-btn click-to-toggle">
                <a class="btn-floating btn-large blue darken-1">
                    <i class="large material-icons white-text">add</i>
                </a>
                <ul>
                    <li ><a class="btn-floating red tooltipped" data-position="right" data-delay="20" data-tooltip="Add Parent" href="{{ url_for('.parent', sid=request.args['id']) }}"><i
                            class="material-icons">perm_identity</i></a></li>
                    <li><a class="btn-floating red tooltipped" data-position="right" data-delay="20" data-tooltip="Add Scholarship" href="{{ url_for('.scholarship', sid=request.args['id']) }}"><i
                            class="material-icons">book</i></a></li>
                    <li><a class="btn-floating red tooltipped" data-position="right" data-delay="20" data-tooltip="Add Award" href="{{ url_for('.award', sid=request.args['id']) }}"><i
                            class="material-icons">grade</i></a></li>
                </ul>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block submenu %}
    <div class="center submenu-title">
        Related Records
    </div>
    {% if not mode==4 %}
        <br>
        {% for t in form['related'].data %}
            <div class="chip white-text blue submenu-chip">
                <a href="{{ url_for('.' + form['related'].data[t],m='r', id=t) }}"
                   class="white-text">{{ form['related'].data[t] }}</a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}


{% block create_mode %}
    <!-- Modal Structure -->


    <div class="row">
        {% for h in form %}
            {% if h.label.text =='School' %}
                {{ h(type='hidden',value=scid) }}

            {% else %}
                {{ renderer(h, mode) }}

            {% endif %}
        {% endfor %}

        <div id="dropbox" class="col s12 m12">Drag and drop Student Image here

        </div>
    </div>




    <div class="row center">
        <button class="btn white black-text btp"
                type="submit" style="margin-bottom: -55px"
                >Submit
            <i class="material-icons right blue-text">send</i>
        </button>

    </div>

{% endblock %}

{% block read_mode %}

    <div class="white"
         style="width: 75px; height: 75px; margin-top: -75px; margin-left: -38px; border-radius: 50%; border: 1px solid #8b0000">
        <img src='{{ form['image'].data }}' width=75px height=75px style="border-radius: 50%">
    </div>

    <div class="row">
        {% for h in form %}
            {% if h.label.text =='School' %}
                {{ h(type='hidden',value=scid) }}

            {% elif h.label.text =='Csrf Token' %}
                {{ h(type='hidden') }}

            {% elif h.label.text =='Image' %}
                {{ h }}

            {% elif h.type == 'TextAreaField' %}
                <div class="input-field col s12 m6">

                    {{ h(class='materialize-textarea', disabled='') }}

                </div>
            {% else %}
                <div class="input-field col s12 m6">
                    {{ h.label }}
                    {{ h(disabled='') }}
                </div>
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}

{% block update_mode %}

    <div class="white"
         style="width: 75px; height: 75px; margin-top: -75px; margin-left: -38px; border-radius: 50%; border: 1px solid #8b0000">
        <img src='{{ form['image'].data }}' width=75px height=75px style="border-radius: 50%">
    </div>

    <div class="row">

        <input id="id" name="id" type="hidden" value={{ request.args.get('id') }}>

        {% for h in form %}
            {% if h.label.text =='School' %}
                {{ h(type='hidden',value=scid) }}

            {% elif h.label.text =='Csrf Token' %}
                {{ h(type='hidden') }}

            {% elif h.label.text =='Image' %}
                {{ h }}

            {% elif h.type == 'TextAreaField' %}
                <div class="input-field col s12 m6">

                    {{ h(class='materialize-textarea') }}

                </div>
            {% elif not h.widget.input_type == 'hidden' %}
                <div class="input-field col s12 m6">
                    {{ h.label }}
                    {{ h }}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div id="dropbox" class="col s12 m12">Drag and drop Student Image here

    </div>

    <div class="row center">
        <button class="btn white black-text btp"
                type="submit" style="margin-bottom: -55px"
                >Submit
            <i class="material-icons right blue-text">send</i>
        </button>

    </div>


{% endblock %}
