{% extends "crudtemplate.html" %}

{% macro add_row(nam1, nam2) %}

    <div class="row">
        <div class="col s12 m6">

            {{ add_standard(nam1) }}

        </div>

        <div class="col s12 m6">

            {{ add_standard(nam1) }}
        </div>
    </div>

{% endmacro %}

{% block uiblock %}

   {% include 'uiblock.html' %}

{% endblock %}

{% block subrecord %}

    <div class="center">
        <div class="fixed-action-btn click-to-toggle">
            <a class="btn-floating btn-large blue darken-1">
                <i class="large material-icons white-text">add</i>
            </a>
            <ul>
                <li><a class="btn-floating red" href="{{ url_for('.parent', sid=request.args['id']) }}"><i
                        class="material-icons">perm_identity</i></a></li>
                <li><a class="btn-floating red" href="{{ url_for('.scholarship', sid=request.args['id']) }}"><i
                        class="material-icons">book</i></a></li>
                <li><a class="btn-floating red" href="{{ url_for('.award', sid=request.args['id']) }}"><i
                        class="material-icons">grade</i></a></li>
                <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
            </ul>
        </div>
    </div>

{% endblock %}

{% block submenu %}
    <div class="center submenu-title">
        Related Records
    </div>
    <br>
    {% for t in form['related'].data %}
        <div class="chip white-text blue submenu-chip">
            <a href="{{ url_for('.' + form['related'].data[t],m='r', id=t) }}" class="white-text">{{ form['related'].data[t] }}</a>
        </div>
    {% endfor %}
{% endblock %}


{% block create_mode %}

    <div class="row">
        {% for h in form %}
            {% if h.label.text =='School' %}
                {{ h(type='hidden',value=scid) }}

            {% elif h.label.text == 'Street Address' %}
                <div class="col s12 m6">

                    {{ h(class='materialize-textarea',placeholder=h.label.text) }}

                </div>
            {% else %}
                <div class="col s12 m6">
                    {{ h(placeholder=h.label.text) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>


    <div class="row center">
        <button class="btn white black-text btp"
                type="submit" style="margin-bottom: -55px"
                >Submit
            <i class="material-icons right blue-text">send</i>
        </button>

    </div>

{% endblock %}

{% block read_mode %}

    <div class="row">
        {% for h in form %}
            {% if h.label.text =='School' %}
                {{ h(type='hidden',value=scid) }}

            {% elif h.label.text =='Csrf Token' %}
                {{ h(type='hidden') }}

            {% elif h.label.text =='Related' %}


            {% elif h.label.text == 'Street Address' %}
                <div class="col s12 m6">

                    {{ h(class='materialize-textarea', disabled='') }}

                </div>
            {% else %}
                <div class="col s12 m6">
                    {{ h.label }}
                    {{ h(disabled='') }}
                </div>
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}

{% block update_mode %}

    <div class="row">

        <input id="id" name="id" type="hidden" value={{ request.args.get('id') }}>

        {% for h in form %}
            {% if h.label.text =='School' %}
                {{ h(type='hidden',value=scid) }}

            {% elif h.label.text =='Csrf Token' %}
                {{ h(type='hidden') }}

            {% elif h.label.text == 'Street Address' %}
                <div class="col s12 m6">

                    {{ h(class='materialize-textarea') }}

                </div>
            {% else %}
                <div class="col s12 m6">
                    {{ h.label }}
                    {{ h }}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="row center">
        <button class="btn white black-text btp"
                type="submit" style="margin-bottom: -55px"
                >Submit
            <i class="material-icons right blue-text">send</i>
        </button>

    </div>


{% endblock %}

{% block delete_mode %}
    <div class="center">

        <div>
            <div class="completed"><br>
                <br><br><br><br> {{ displayname }} Successfully Deleted <br>
                <i class="material-icons large green-text">done</i>
                <br><br><br><br>
            </div>
        </div>

    </div>

{% endblock %}