{% extends "crudtemplate.html" %}

{% block script %}
    <script>
        function copyTextValue() {
            var text1 = document.getElementById("student_id").value;
            var url1 = '/student?m=r';
            document.getElementById("backlink").href = url1 + '&id=' + text1;
        }
        $(document).ready(function () {
            $('select').material_select();
            copyTextValue();
        });

    </script>


{% endblock %}

{% block uiblock %}

    {% include 'uiblock.html' %}

{% endblock %}


{% block create_mode %}

    <div class="row">
        {% for h in form %}

            {% if h.label.text == 'Description' %}
                <div class="col s12 m6">

                    {{ h(class='materialize-textarea',placeholder=h.label.text) }}

                </div>

            {% elif h.label.text == 'School' %}

                {{ h(value=request.args['sid']) }}


            {% else %}
                <div class="col s12 m6">
                    {{ h(placeholder=h.label.text) }}
                </div>
            {% endif %}
        {% endfor %}
    </div>


    <div class="row center">
        <button class="btn white black-text btp"
                type="submit" style="margin-bottom: -55px"
                >Submit
            <i class="material-icons right blue-text">send</i>
        </button>

    </div>

{% endblock %}

{% block read_mode %}

    <div class="row">
        {% for h in form %}
            {% if h.label.text =='School' %}

                {{ h(type='hidden') }}


            {% elif h.label.text =='Csrf Token' %}
                {{ h(type='hidden') }}

            {% elif h.label.text == 'Description' %}
                <div class="col s12 m6">

                    {{ h.label }} {{ h(class='materialize-textarea', disabled='') }}

                </div>
            {% else %}
                <div class="col s12 m6">
                    {{ h.label }}
                    {{ h(disabled='') }}
                </div>
            {% endif %}
        {% endfor %}
    </div>


{% endblock %}

{% block update_mode %}

    <div class="row">

        <input id="id" name="id" type="hidden" value={{ request.args.get('id') }}>

        {% for h in form %}
            {% if h.label.text =='School' %}
                {{ h(type='hidden',value=scid) }}

            {% elif h.label.text =='Csrf Token' %}
                {{ h(type='hidden') }}

            {% elif h.label.text == 'Description' %}
                <div class="col s12 m6">

                    {{ h(class='materialize-textarea') }}

                </div>
            {% else %}
                <div class="col s12 m6">
                    {{ h.label }}
                    {{ h }}
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="row center">
        <button class="btn white black-text btp"
                type="submit" style="margin-bottom: -55px"
                >Submit
            <i class="material-icons right blue-text">send</i>
        </button>

    </div>


{% endblock %}
