{% extends "template.html" %}

{% block script %}
    <script src="http://listjs.com/no-cdn/list.js"></script>
    <script src="/static/js/list.pagination.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var msg = {{ msg|safe }};
            var options = {
                valueNames: ['subject_name', 'code', 'description'],
                page: 7,
                plugins: [ListPagination({})]
            };

            drawTable(msg);
            var userList = new List('students', options);
        });

        function drawTable(data) {
            for (var i = 0; i < data.length; i++) {
                drawRow(data[i]);
            }
        }

        function drawRow(rowData) {
            var row = $("<tr />");
            var url1 = '/subject?m=r&id=' + rowData._id.$oid;
        var nam = null;
            if (rowData.related != null)
                nam = Object.getOwnPropertyNames(rowData.related);

            $("#personDataTable").append(row); //this will append tr element to table... keep its reference for a while since we will add cels into it
            {#    row.append($("<td><a href=" + url1 + '>' + rowData.student_name + "</a></td>"));#}
            {#    row.append($("<div class='chip white-text blue submenu-chip'>test</div>"));#}

            {% for x in form %}
                {% if not x.widget.input_type == 'hidden' %}
                    var b = rowData.{{ x.name }};

                    {% if x.label.text =='Subject Name' %}
                        row.append($("<td class='{{ x.name }}'><a href=" + url1 + '>' + b + "</a></td>"));

                                            {% elif x.label.text =='Related' %}


                    {% else %}
                        row.append($("<td class='{{ x.name }}'>" + b + "</td>"));
                    {% endif %}
                {% endif %}
            {% endfor %}

        var z = "";
            if (nam != null) {
                for (var ter in nam) {
                    var url2 = '/' + rowData.related[nam[ter]] + '?m=r&id=' + nam[ter];
                    z = z + "<div class='chip white-text blue search-chip'> <a href='" + url2 + "' class='white-text'>" + rowData.related[nam[ter]] + "</a></div>";
                }
            }
            row.append($("<td class='related'>" + z + "</td>"));

        }

    </script>

{% endblock %}

{% block content %}

    <!--   Icon Section   -->
    <div class="row">

        <div class="col s12 m12">
            <div class="icon-block">
                <div class="icon-container">

                    <div class="center" id="students">
                        <div class="row">
                            <div class="col s6 m4">
                                <input class="search" placeholder="Search"/>
                            </div>
                            <div class="col s6 m6">

                                Sort by :
                                <button class="sort btn-flat grey lighten-3 btp" data-sort="subject_name">
                                    Name
                                </button>
                                <button class="sort btn-flat grey lighten-3 btp" data-sort="code">
                                    Email
                                </button>
                                <button class="sort btn-flat grey lighten-3 btp" data-sort="description">
                                    City
                                </button>
                            </div>
                        </div>
                        <table id="personDataTable" class="striped responsive-table">
                            <thead>
                            <tr>
                                {% for x in form %}
                                    {% if not x.widget.input_type == 'hidden' %}
                                        <th>{{ x.label.text }}</th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            </thead>
                            <tbody class="list">
                            <tr></tr>

                            </tbody>

                        </table>

                        <ul class="pagination"></ul>


                    </div>

                </div>
            </div>
        </div>

    </div>

{% endblock %}